/* *global styles */


html {
  scroll-padding-top:55px ;
}

body {
  text-transform: capitalize;
}


:root {
  --main-color:#0f0d0d;
  --white:#f0f8ff;
  --grey:#e0e0e038;

}


.navbar-toggler:focus {
  box-shadow: none;
}




/* *===== header section =====  */



.header {
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.7),  rgba(16, 8, 8, 0.5)),url("../imgs/bg.jpg");
  background-position: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 4.5rem;
  color: var(--white);
}

.head span:first-child  {
  font-size: 4rem;
  color: var(--white);
} 

.head .typing  {
  font-size: 3.5rem;
} 


.nav-item {
  padding-inline: 10px;
}

.nav-link{
  color: var(--white);
}

.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none; 
  transition: background-color 0.4s ease-in;
}

.navbar-scrolled {
  background-color: rgb(255 , 255  , 255 ) !important; 
}

.navbar-transparent .navbar-brand,
.navbar-transparent .nav-link {
  color: white !important;
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link {
  color: #000 !important;
}


.icons i  {
  background-color: #0f0d0d78;
}




.nav-link:hover {
  color: var(--main-color);
}


.nav-item {
  position: relative;
}

.nav-item::after {
  content: '';
  width: 0;
  background-color: var(--main-color);
  height: 2px;
  position: absolute;
  bottom: -5px;
  left:0; right: 0;   margin: auto;

  transition: width 0.4s ease-in-out;
}

.nav-item:hover{
  color: var(--main-color);
}

.nav-item:hover::after {
  width: 100%;
}

.navbar a.active::after {
  content: '';
  width: 100%;
  background-color: var(--main-color);
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}






/* <!-- *ABOUT  --> */



.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about .about-image:after {
  content: "";
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
  width: 80%;
  height: 80%;
  position: absolute;
  left: -30px;
  bottom: -30px;
}


.progress {
  position: relative;
  height: 30px;
}

.progress-label {
  position: absolute;
  left: 10px;
  top: 1px;
  font-size: 1rem;
}

.progress-number{
  position: absolute;
  right: 32%;
  top: 5px;
  font-size: 1rem;
}

.progress-number-80{
  position: absolute;
  right: 22%;
  top: 5px;
  font-size: 1rem;
}

.progress-number-90{
  position: absolute;
  right: 12%;
  top: 5px;
  font-size: 1rem;
}

/* <!-- *SERVICES --> */


.gray {
  background-color: var(--grey);
}

.bg-g{

  background-color: #f1efef;
  padding: 25px;
  border-radius: 50%;
}

.services .sub-heading  :after {
  content: "";
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
  width: 12%;
  height: 80%;
  position: absolute;
  left: 45%;
  bottom: -10px;
}


.services .icon i {
  transition: background-color 0.3s ease-in;
}

.services .card :hover i{
  background-color: #434040;
  color: var(--white);
}



/* *===== PORTFOLIO section =====  */


.portfolio .sub-heading  :after {
  content: "";
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
  width: 12%;
  height: 80%;
  position: absolute;
  left: 45%;
  bottom: -10px;
}


.portfolio .card-port i {
  
  background-color: var(--main-color);
  color: var(--white);
  padding: 7px;
  border-radius: 50%;
  transition: background-color  0.3s ease-in , color 0.3s ease-in;
}


.portfolio .card-port i:hover {
  
  background-color: var(--white);
  color: var(--main-color);

}


.portfolio .card {
  position: relative;
  overflow: hidden;
}

.portfolio img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}


.portfolio .card-body {
  position: absolute;
  top: -10%;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  text-align: center;
  color: aliceblue;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.portfolio .card:hover .card-body {
  top: 5px;
  opacity: 1;
}


.portfolio a.active::after {
  content: '';
  width: 100%;
  background-color: var(--main-color);
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}




/* *===== TESTIMONIALS section =====  */


.TESTIMONIALS .sub-heading  :after {
  content: "";
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
  width: 18%;
  height: 80%;
  position: absolute;
  left: 45%;
  bottom: -10px;
}

.custom-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: black !important;
  border: none !important;
  margin: 0 5px !important;
}

.carousel-item img {
  width: 100px;
  height: 100px;
}

/* *===== team section =====  */



.custom-img {
  height: 370px; 
  object-fit: cover;
  width: 100%;
  transition: transform 0.5s ease-in-out;

}


.TEAM .sub-heading  :after {
  content: "";
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
  width: 14%;
  height: 50%;
  position: absolute;
  left: 45%;
  bottom: 30px;
}

.TEAM .card {
  overflow: hidden;
  position: relative;
}


.custom-img:hover {
  transform: scale(1.1);
  
}



.TEAM .card .social-icons {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  opacity: 0;
  transform: rotateY(180deg) scale(0.5, 0.5);
  inset: 10px 10px 130px 10px;
  transition: transform 0.4s ease-in;
} 


.TEAM .card:hover .social-icons {
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}


.social-icons i{
  background-color: var(--main-color);
  color: var(--white);
  padding: 7px;
  border-radius: 50%;
  transition: color 0.3s ease-in;
}


.social-icons i:hover{
  background-color: var(--white);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}



/* *===== contact section =====  */




.contact .sub-heading  :after {
  content: "";
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
  width: 12%;
  height: 80%;
  position: absolute;
  left: 45%;
  bottom: -10px;
}


.contact .info i {
  background-color: #eee;
  color: var(--main-color);
  padding: 15px 20px;
  border-radius: 50%;
  transition: background-color  0.3s ease-in , color 0.3s ease-in;
}


.contact .info i:hover {
  
  background-color: var(--main-color);
  color: var(--white);

}

